<form class="form-inline">

  <div class="form-group">
    <input class="form-control" id="username_id" name="user_name" type="text" placeholder="Username"/>
  </div>

  <div class="form-group">
    <input class="form-control" id="password_id" name="user_password" type="password" placeholder="Password"/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary " name="submit" type="submit">Login</button>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label class="checkbox">
        <input name="remember" type="checkbox" value="yes"/>
        Remember
      </label>
    </div>
  </div>

</form>
